html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    /*font-family: font stack required for body text */
    font-size: 1rem;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    /*font-family: font stack required for headings */
}

p {
    
}

.container {
    
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    flex-direction: column;
    width: 1500px;

}

.subnav {
    display: flex;
    /*align-items: flex-end;
    /* align-self: flex-end; */
    margin-right:  1rem;
    justify-content: flex-end;  
   
}

.subnav a {
    margin-right:  1rem;
    display: flex;
    justify-content:space-between;
    color:hsl(239, 14%, 36%);    
}

.mainnav {

    /*justify-content: space-around*/
    display: flex;   
    justify-content:space-between;
    padding: 2rem;
  
    
}

.mainnav a {

    color:hsl(202, 4%, 36%);
    
}

.masthead {
    
}

.times-logo {
    
}

.masthead h1 {
    
}

.content {
    
}

.content .story {
    
}

.story.lead-story {
    
}

h1.story-title {
    
}

.story img {
    
}

.story p {
    
}

.story blockquote {
    quotes: "\201E" "\201D";
}

.story blockquote::before {
    content: open-quote;
}

.story blockquote::after {
    content: close-quote;
}

.story p.byline {
    
}

p.byline span.author {
    
}

p.byline span.pub {
    
}

.foot {
    
}

.foot p
{
    
}
