@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
    color:   hsl(199, 60%, 26%);
        box-sizing: border-box;
        font-size :16px;
        margin: 0;
        padding: 0;
        --navBgColor: hsl(239, 14%, 36%);
        --navFontColor:hsl(240, 10%, 92%);
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    /*font-family: font stack required for body text */
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    margin: 0;
    padding: 1rem;
}

h1, h2, h3, h4 {
    /*font-family: font stack required for headings */
    display: flex;
    justify-content: center;
    font-family: 'Grenze', "Times New Roman", Times, serif;
    font-size: 3rem;

}

p {
    margin: 1rem;
    padding-bottom: 1rem
}


.container {
    
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    flex-direction: column;
    width: 1500px;
}

.subnav {
    display: flex;
    /*align-items: flex-end;
    /* align-self: flex-end; */
    margin-right:  1rem;
    justify-content: flex-end;
    font-family: 'Grenze', "Times New Roman", Times, serif;
    font-size: 1rem;  
    color:var(--navFontColor);
    /*color:hsl(240, 10%, 92%);*/
    /*background-color: hsl(239, 14%, 36%);*/ 
    background-color:var(--navBgColor);
    
}

.subnav a {
    margin-right:  1rem;
    display: flex;
    justify-content:space-between;
    color:var(--navFontColor);
    /*color:hsl(240, 10%, 92%);*/
    /*background-color: hsl(239, 14%, 36%);*/ 
    background-color:var(--navBgColor);
    text-decoration: none;
}


.mainnav {
    /*justify-content: space-around*/
    font-family: 'Grenze', "Times New Roman", Times, serif;
    display: flex;   
    justify-content:space-between;  
    color:var(--navFontColor);
    /*color:hsl(240, 10%, 92%);*/
    /*background-color: hsl(239, 14%, 36%);*/ 
    background-color:var(--navBgColor);
    padding: 2rem; 
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.mainnav a {
    
    color:var(--navFontColor);
    /*color:hsl(240, 10%, 92%);*/
    /*background-color: hsl(239, 14%, 36%);*/ 
    background-color:var(--navBgColor);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color:var(--navFontColor); 
    color:var(--navBgColor);
    /*color:hsl(239, 14%, 36%); */ 
    /*background-color: hsl(240, 10%, 92%);*/
  }

.masthead {
    
}

.times-logo {
    
}

.masthead h1 {
    
}

.content {
    
}

.content .story {
    
}

.story.lead-story {

    color:  hsl(198, 88%, 7%);
    background-color:hsl(199, 7%, 93%);
    padding: 1rem;
    border-radius: 0.75rem;
    border-style: solid;
    border-color: hsl(199, 46%, 34%);
    box-shadow: 0 3px 9px 0 hsl(199, 6%, 29%);
    text-shadow: 2rem;
    margin-top: 0rem;
}



hh1.story-title {
    display: flex;
    justify-content: center;
    
  
    
}
 
.story img {
    float: left;
    overflow: auto;
    margin-right: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    
}


.story p {
    
}

.story blockquote {
    quotes: "\201E" "\201D";
}

.story blockquote::before {
    content: open-quote;
}

.story blockquote::after {
    content: close-quote;
}

.story p.byline {
    
}

p.byline span.author {
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    font-weight: bold;

}

p.byline span.pub {
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    font-weight: bold;

}

.foot {
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    font-weight: bold;
}

.foot p
{
    

}

article.story.lead-story:hover {
    text-decoration: underline;
    color:hsl(235, 100%, 2%);  
    background-color: hsl(58, 35%, 81%);
  }
